<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>
  <nav>
    <%- include('../partials/menu') %>
  </nav>
  <main>
    <p>Result of your calculation:</p>
    <p><%= fromValue %><%= fromUnit %> = <%= toValue %><%= toUnit %></p>
  </main>
</body>
</html>