<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <div class="wrapper">
    <header>
      <%- include('../partials/header'); %>
    </header>
    <nav>
      <%- include('../partials/menu') %>
    </nav>
    <main>
      <div class="result-message">
        <p>This is the result of your calculation:</p>
      </div>
      <div class="result-calculation">
        <p class="result-text"><%= fromValue %><%= fromUnit %> = <%= toValue %><%= toUnit %></p>
      </div>
      <button class="form-button">Reset</button>
    </main>
  </div>
</body>
</html>