<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <div class="wrapper">
    <header>
      <%- include('../partials/header'); %>
    </header>
    <nav>
      <%- include('../partials/menu') %>
    </nav>
    <main>
      <p>Result of your calculation:</p>
      <p><%= fromValue %><%= fromUnit %> = <%= toValue %><%= toUnit %></p>
    </main>
  </div>
</body>
</html>